.form-time {
    display:none !important;
    control-label: "" !important;
}

.control-label {
    display:none !important;
}




/* NOTE: does not change button color, using same from login.css
.btn-primary {
    background-color: #006940 !important;
 }*/
