.half-width {
    width: 50%;
}

.center {
     text-align: center;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
 }

 .login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }

 .btn-primary {
    background-color: #006940 !important;
 }