<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/edit_schedule.css"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/static/js/edit-schedule.js"></script>
    <title>Edit Schedule - PatriotPlanner</title>
</head>
<body>
{% import "bootstrap/wtf.html" as wtf %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #006940;">
        <a class="nav-link" href="/home">
            <img src="/static/img/PPLogoWhite.png" width="100" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/new_route">New Route</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/edit_schedule">Edit Schedule</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="settings">
                        Settings
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}"> Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h4> Add Class </h4>
    <form class="input-group" method="POST" action="{{ url_for('edit_schedule') }}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th id="addcol1" scope="col">Year</th>
                <th id="addcol2" scope="col">Semester</th>
                <th id="addcol3" scope="col">Class Name</th>
                <th id="addcol4" scope="col">Location</th>
                <th id="addcol5" scope="col">Start Time</th>
                <th id="addcol6" scope="col">End Time</th>
                <th id="addcol7" scope="col">Day(s)</th>
            </tr>
            </thead>
            <tbody id="scheduleInput">
            <tr>
                <td id="year">
                    <input required name="year" type="number" min="1900" max="2099" step="1" value="2019" />
                </td>
                <td id="semester">
                    <select required name="semester" aria-label="location" class="custom-select" id="semesterSelect">
                        <option value="spring">spring</option>
                        <option value="summer">summer</option>
                        <option value="fall">fall</option>
                    </select>
                </td>
                <td id="class_name">
                    <input type="text" name="class_name" required maxlength="10" size="10">
                </td>
                <td id="building">
                    <select required name="building" aria-label="location" class="custom-select" id="inputGroupSelect00">
                        <option selected value="-1">Location</option>
                        {% for all_building_names in all_building_names %}
                        <option value="{{all_building_names}}">{{all_building_names}}</option>
                        "
                        {% endfor %}
                    </select>
                </td>
                <td id="start_time">
                    <input required name="start_time" type="time" placeholder="Start Time" aria-label="start-time">
                </td>
                <td id="end_time">
                    <input required name="end_time" type="time" placeholder="End Time" aria-label="start-time">
                </td>
                <td id="week_days">
                    <div class="form-check">
                        <div class="form-check form-check-inline">
                            &ensp;
                            <input name="M" class="form-check-input" type="checkbox" id="inlineCheckboxM1" value="M">
                            <label class="form-check-label" for="inlineCheckboxM1">M</label>
                            &ensp;
                            <input name="T" class="form-check-input" type="checkbox" id="inlineCheckboxTu1" value="T">
                            <label class="form-check-label" for="inlineCheckboxTu1">Tu</label>
                            &ensp;
                            <input name="W" class="form-check-input" type="checkbox" id="inlineCheckboxW1" value="W">
                            <label class="form-check-label" for="inlineCheckboxW1">W</label>
                            &ensp;
                            <input name="R" class="form-check-input" type="checkbox" id="inlineCheckboxTh1" value="R">
                            <label class="form-check-label" for="inlineCheckboxTh1">Th</label>
                            &ensp;
                            <input name="F" class="form-check-input" type="checkbox" id="inlineCheckboxF1" value="F">
                            <label class="form-check-label" for="inlineCheckboxF1">F</label>
                            &ensp;
                        </div>
                    </div>
                </td>
                <td>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Add Class</button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </form>
    <h4> Delete Class </h4>
    <form class="input-group" method="POST" action="{{ url_for('edit_schedule') }}">
        <select name='del_class_name' class="custom-select" id="inputGroupSelect02" aria-label="Example select with button addon">
            <option value="-1" selected>Class Name</option>
            {% for c in cur_classes %}
            <option value="{{ c.year }} {{ c.semester }} {{ c.class_name }}">{{ c.class_name }}</option>
            "
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Delete Class</button>
        </div>
    </form>
    <h4> All Classes </h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th id="curcol1" scope="col">Year</th>
            <th id="curcol2" scope="col">Semester</th>
            <th id="curcol3" scope="col">Class Name</th>
            <th id="curcol4" scope="col">Location</th>
            <th id="curcol5" scope="col">Start Time</th>
            <th id="curcol6" scope="col">End Time</th>
            <th id="curcol7" scope="col">Day(s)</th>
        </tr>
        </thead>
        <tbody id="currentSchedule">
        {% for c in cur_classes %}
        <tr>
          <td> {{ c.year }} </td>
          <td> {{ c.semester }} </td>
          <td> {{ c.class_name }} </td>
          <td> {{ c.building }} </td>
          <td> {{ c.start_time.strftime('%I:%M %p') }} </td>
          <td> {{ c.end_time.strftime('%I:%M %p') }} </td>
          <td> {{ c.week_days }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <!--
        <tr id="block1">
            <td id="event-name1">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location1">
                <select aria-label="location" class="custom-select" id="inputGroupSelect01">
                    <option selected>Location</option>
                    {% for all_building_names in all_building_names %}
                    <option value="{{all_building_names}}">{{all_building_names}}</option>
                    "
                    {% endfor %}
                </select>
            </td>
            <td id="start-time1">
                <input type="time" placeholder="Start Time" aria-label="start-time">
                               <form class="form-time" method="POST" action="/edit_schedule">
                                   {{ form.hidden_tag() }}
                                   {{ wtf.form_field(form.start_time) }}
                               </form>

            <td id="end-time1">
                <input type="time" placeholder="End Time" aria-label="end-time" class=".col-sm-form-control">
            </td>
            <td id="checkboxes1">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM1" value="1">
                        <label class="form-check-label" for="inlineCheckboxM1">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu1" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu1">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW1" value="3">
                        <label class="form-check-label" for="inlineCheckboxW1">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh1" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh1">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF1" value="5">
                        <label class="form-check-label" for="inlineCheckboxF1">F</label>
                        &ensp;
                    </div>
                </div>

            </td>
        </tr>

        <tr id="block2">
            <td id="event-name2">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location2">
                <select aria-label="location" class="custom-select" id="inputGroupSelect02">
                    <option selected>Location</option>
                    <option value="1">One</option>
                    <option value="2">IAUWBGPUABERPGIUBERPGIUB</option>
                    <option value="3">Three</option>
                </select>
            </td>
            <td id="start-time2">
                <input type="time" placeholder="Start Time" aria-label="start-time">
            </td>
            <td id="end-time2">
                <input type="time" placeholder="End Time" aria-label="end-time">
            </td>
            <td id="checkboxes2">
                <div class="form-check">
                    <div class="form-check form-check-inline">&ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM2" value="1">
                        <label class="form-check-label" for="inlineCheckboxM2">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu2" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu2">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW2" value="3">
                        <label class="form-check-label" for="inlineCheckboxW2">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh2" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh2">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF2" value="5">
                        <label class="form-check-label" for="inlineCheckboxF2">F</label>
                    </div>
                </div>

            </td>
        </tr>

        <tr id="block3">
            <td id="event-name3">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location3">
                <select aria-label="location" class="custom-select" id="inputGroupSelect03">
                    <option selected>Location</option>
                    {% for all_building_names in all_building_names %}
                    <option value="{{all_building_names}}">{{all_building_names}}</option>
                    "
                    {% endfor %}
                </select>
            </td>
            <td id="start-time3">
                <input type="time" placeholder="Start Time" aria-label="start-time">

            <td id="end-time3">
                <input type="time" placeholder="End Time" aria-label="end-time" class=".col-sm-form-control">

            </td>
            <td id="checkboxes3">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM3" value="1">
                        <label class="form-check-label" for="inlineCheckboxM3">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu3" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu3">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW3" value="3">
                        <label class="form-check-label" for="inlineCheckboxW3">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh3" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh3">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF3" value="5">
                        <label class="form-check-label" for="inlineCheckboxF3">F</label>
                        &ensp;
                    </div>
                </div>

            </td>
        </tr>

        <tr id="block4">
            <td id="event-name4">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location4">
                <select aria-label="location" class="custom-select" id="inputGroupSelect04">
                    <option selected>Location</option>
                    {% for all_building_names in all_building_names %}
                    <option value="{{all_building_names}}">{{all_building_names}}</option>
                    "
                    {% endfor %}
                </select>
            </td>
            <td id="start-time4">
                <input type="time" placeholder="Start Time" aria-label="start-time">

            <td id="end-time4">
                <input type="time" placeholder="End Time" aria-label="end-time" class=".col-sm-form-control">

            </td>
            <td id="checkboxes4">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM4" value="1">
                        <label class="form-check-label" for="inlineCheckboxM4">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu4" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu4">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW4" value="3">
                        <label class="form-check-label" for="inlineCheckboxW4">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh4" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh4">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF4" value="5">
                        <label class="form-check-label" for="inlineCheckboxF4">F</label>
                        &ensp;
                    </div>
                </div>

            </td>
        </tr>

        <tr id="block5">
            <td id="event-name5">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location5">
                <select aria-label="location" class="custom-select" id="inputGroupSelect05">
                    <option selected>Location</option>
                    {% for all_building_names in all_building_names %}
                    <option value="{{all_building_names}}">{{all_building_names}}</option>
                    "
                    {% endfor %}
                </select>
            </td>
            <td id="start-time5">
                <input type="time" placeholder="Start Time" aria-label="start-time">

            <td id="end-time5">
                <input type="time" placeholder="End Time" aria-label="end-time" class=".col-sm-form-control">

            </td>
            <td id="checkboxes5">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM5" value="1">
                        <label class="form-check-label" for="inlineCheckboxM5">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu5" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu5">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW5" value="3">
                        <label class="form-check-label" for="inlineCheckboxW5">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh5" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh5">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF5" value="5">
                        <label class="form-check-label" for="inlineCheckboxF5">F</label>
                        &ensp;
                    </div>
                </div>

            </td>
        </tr>

        <tr id="block6">
            <td id="event-name6">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location6">
                <select aria-label="location" class="custom-select" id="inputGroupSelect06">
                    <option selected>Location</option>
                    {% for all_building_names in all_building_names %}
                    <option value="{{all_building_names}}">{{all_building_names}}</option>
                    "
                    {% endfor %}
                </select>
            </td>
            <td id="start-time6">
                <input type="time" placeholder="Start Time" aria-label="start-time">

            <td id="end-time6">
                <input type="time" placeholder="End Time" aria-label="end-time" class=".col-sm-form-control">

            </td>
            <td id="checkboxes6">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM6" value="1">
                        <label class="form-check-label" for="inlineCheckboxM6">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu6" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu6">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW6" value="3">
                        <label class="form-check-label" for="inlineCheckboxW6">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh6" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh6">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF6" value="5">
                        <label class="form-check-label" for="inlineCheckboxF6">F</label>
                        &ensp;
                    </div>
                </div>

            </td>
        </tr>

        <tr id="block7">
            <td id="event-name7">
                <input type="text" placeholder="Class Name" aria-label="event-name"
                       class="form-control">
            </td>
            <td id="location7">
                <select aria-label="location" class="custom-select" id="inputGroupSelect07">
                    <option selected>Location</option>
                    {% for all_building_names in all_building_names %}
                    <option value="{{all_building_names}}">{{all_building_names}}</option>
                    "
                    {% endfor %}
                </select>
            </td>
            <td id="start-time7">
                <input type="time" placeholder="Start Time" aria-label="start-time">

            <td id="end-time7">
                <input type="time" placeholder="End Time" aria-label="end-time" class=".col-sm-form-control">

            </td>
            <td id="checkboxes7">
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxM7" value="1">
                        <label class="form-check-label" for="inlineCheckboxM7">M</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTu7" value="2">
                        <label class="form-check-label" for="inlineCheckboxTu7">Tu</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxW7" value="3">
                        <label class="form-check-label" for="inlineCheckboxW7">W</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxTh7" value="4">
                        <label class="form-check-label" for="inlineCheckboxTh7">Th</label>
                        &ensp;
                        <input class="form-check-input" type="checkbox" id="inlineCheckboxF7" value="5">
                        <label class="form-check-label" for="inlineCheckboxF7">F</label>
                        &ensp;
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" onClick="createRow()" value="Create Row" class="btn btn-secondary">+ Add Another Time Block
    </button>
    <button type="button" onClick="saveSchedule()" value="save" class="btn btn-primary">Save</button>
        -->
</div>

</body>
</html>